
<div class="nav-header" layout="row" layout-align="center center">
    <h3 class="header-label">SLX Logging Portal</h3>
    <div class="logo-element">
        FS+
    </div>
</div>
<md-sidemenu locked="true">
    <md-sidemenu-button ui-sref="home" ui-sref-active="active">
        <i class="material-icons">dashboard</i>
        <span class="nav-label">SLX Log Summary</span>
    </md-sidemenu-button>
    <!--<md-sidemenu-button ui-sref="newsItemDetails" ui-sref-active="active">
        <i class="material-icons">note_add</i>
        <span class="nav-label">News & Announcements</span>
    </md-sidemenu-button>
    <md-sidemenu-button ui-sref="categoryDetails({ categoryID: 0})" ui-sref-active="active">
        <i class="material-icons">business</i>
        <span class="nav-label">Customer Info</span>
    </md-sidemenu-button>
    <md-sidemenu-button ui-sref="assignShipTo" ui-sref-active="active">
        <i class="material-icons">local_shipping</i>
        <span class="nav-label">Assign Ship To</span>
    </md-sidemenu-button>
    <md-sidemenu-button ui-sref="ordersSummary" ui-sref-active="active">
        <i class="material-icons">assignment</i>
        <span class="nav-label">Orders</span>
    </md-sidemenu-button>
    <md-sidemenu-group>
        <md-sidemenu-content md-icon="description" md-heading="Statements" md-arrow="true">
            <md-sidemenu-button ui-sref="arInvoiceSummary" ui-sref-active="active">
                <i class="material-icons">receipt</i> <span class="nav-label">AR Invoice</span>
            </md-sidemenu-button>
            <md-sidemenu-button ui-sref="creditCardTransactionsSummary" ui-sref-active="active">
                <i class="material-icons">insert_chart</i> <span class="nav-label">Credit Card Transactions</span>
            </md-sidemenu-button>
            <md-sidemenu-button ui-sref="draftNoticeSummary" ui-sref-active="active">
                <i class="material-icons">attach_money</i> <span class="nav-label">Draft Notice</span>
            </md-sidemenu-button>
            <md-sidemenu-button ui-sref="priceQuotesSummary" ui-sref-active="active">
                <i class="material-icons">show_chart</i> <span class="nav-label">Price Quote</span>
            </md-sidemenu-button>
        </md-sidemenu-content>
    </md-sidemenu-group>-->
</md-sidemenu>