
<div layout="row" flex>
    <!-- Left Navigation Menu -->
    <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="true"
                md-disable-backdrop="true"
                md-whiteframe="4"
                fs-body-small
                ui-view="dashboardLeftNav"></md-sidenav>

    <!-- Page wraper - Main container for page elements -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div class="page-wrapper" layout="column" flex="">

        <!--<div ui-view="topnav"></div>-->
        <!---->
        <md-toolbar layout="row" ui-view="dashboardTopNav" class="site-content-toolbar"></md-toolbar>

        <!-- Main view  -->
        <md-content class="main-content" ui-view></md-content>
    </div>
    <!-- End page wrapper-->
</div>