﻿.gridster .gridster-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: @color_white;
    border: 1px solid @color_lightgray;
}

.gridster md-toolbar:not(.md-menu-toolbar) {
    background-color: @color_white;
    color: @color_gray3;
}

.gridster md-toolbar:not(.md-menu-toolbar) md-icon {
    color: @color_gray3;
    fill: @color_gray3;
}

.gridster-item .inner-content {
    position: absolute;
    top: 64px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.gridster-item .inner-content md-list {
    padding-top: 0px;
    padding-bottom: 0px;
}
