/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */

@color_lightblue: #52b9e9;
@color_success: #43c83c;
@color_warning: #f88529;
@color_important: #fa3031;
@color_violet: #932ab6;
@color_red: #dd2c00;

@color_nothing: #000000;
@color_white: #ffffff;
@color_lightgray: #EEEEEE;
@color_darkgray: #a7b1c2;
@color_gray1: #F5F5F5;
@color_gray2: #e7eaec;
@color_gray3: #999c9e;
@color_gray: #676a6c;
@color_blue: #0099CC;

@color_navyblue: #2F4050;
@color_darknavyblue: #273A4A;
@color_darkblue: #293846;

@color_teal: #1AB394;
@color_darkteal: #18a689;
@color_green: #4CAF50;
@color_darkgreen: #388E3C;
@color_blue2: #00bcd4;
@color_pink: #e91e63;
@color_lightpink: #ec407a;
@color_bluegrey: #607d8b;
@color_darkbluegrey: #455a64;
@color_purple: #9c27b0;
@color_darkpurple: #7b1fa2;
@color_blueteal: #7b1fa2;
@color_darkblueteal: #00796b;
@color_amber: #ffc107;
@color_darkamber: #ffa000;

@color_offwhite: #f3f3f4;
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector