
.side-navigation .nav-header,
.md-sidemenu .nav-header,
.md-sidenav-left .nav-header { 
    min-width: 290px;
    min-height: 93px;
    z-index: 999;
    padding-top:15px;
    padding-bottom: 15px;
    border: none;
}

.md-sidenav-left .nav-subheader {
    padding-left: 15px;
}

.nav-subheader i {
    font-size: 32px;
    font-weight: bold;
}

md-sidenav i,
md-sidenav md-icon {
    margin-right: 15px;
    color: @color_darkgray;
}



md-sidenav.md-locked-open, 
md-sidenav.md-locked-open.md-closed, 
md-sidenav.md-locked-open.md-closed.md-sidenav-left, 
md-sidenav.md-locked-open.md-closed {
    //left: 0;
    //position: fixed;
    height: 100%;
    min-width:290px;
    background-color: @color_navyblue;
    border: 1px solid @color_navyblue;
}

.nav-header img {
    height: 64px;
    margin: auto;
}

.nav-header {
    background-color: @color_darknavyblue;
    color: @color_white;
}

.mini-navbar .nav-header img {
    height: 48px;
}

.md-sidemenu .md-button {
    padding-left: 20px;
}

body.mini-navbar .md-sidemenu-wrapper .md-button {
    padding-left: 20px;
}

body.mini-navbar md-sidenav.md-locked-open, 
body.mini-navbar md-sidenav.md-locked-open.md-closed, 
body.mini-navbar md-sidenav.md-locked-open.md-closed.md-sidenav-left, 
body.mini-navbar md-sidenav.md-locked-open.md-closed {
    min-width: 70px;
    max-width: 70px;
    width: 70px;
}

body.mini-navbar .side-navigation,
body.mini-navbar .md-sidenav {
    min-width: 70px;
    max-width: 70px;
    width: 70px;
}

body.mini-navbar .md-sidemenu-toggle md-icon:first-child {
    margin: 0px;
}

body.mini-navbar .md-sidemenu-wrapper .md-button {
    padding-left: 20px;
}



body.mini-navbar .side-navigation li a span, 
body.mini-navbar .md-sidenav-left .nav-label,
body.mini-navbar .md-sidenav-left .nav-header .header-label,
body.mini-navbar .md-sidenav-left button span,
body.mini-navbar .md-sidenav-left .md-sidemenu-wrapper:not(.md-active),
body.mini-navbar .md-sidenav-left .md-sidemenu-toggle md-icon:last-child
{
    display: none;
}

body.mini-navbar .side-navigation a {
    font-size: 16px;
    text-align: center;
}

body.mini-navbar .navbar-default .nav > li > a > i {
    margin-right: 0px;
}

body.mini-navbar .side-navigation .nav-header,
body.mini-navbar .md-sidenav-left .nav-header { 
    min-width: 70px;
    max-width: 70px;
    width: 70px;
}

body.mini-navbar .nav-header i {
    margin-right: 0px;
}

body.mini-navbar .top-navigation {
    left: 70px;
}

body.mini-navbar .page-wrapper {
    //margin-left: 70px;
}

@media screen and (max-width: 456px) {
    md-sidenav {
        min-width: 70px;
    }
}

@media (max-width: 768px) {

    .body-small.mini-navbar .side-navigation,
    .body-small.mini-navbar md-sidenav.md-locked-open, 
    .body-small.mini-navbar md-sidenav.md-locked-open.md-closed, 
    .body-small.mini-navbar md-sidenav.md-locked-open.md-closed.md-sidenav-left, 
    .body-small.mini-navbar md-sidenav.md-locked-open.md-closed {
        display: block;
    }

    .body-small .side-navigation,
    .body-small md-sidenav.md-locked-open, 
    .body-small md-sidenav.md-locked-open.md-closed, 
    .body-small md-sidenav.md-locked-open.md-closed.md-sidenav-left, 
    .body-small md-sidenav.md-locked-open.md-closed {
        display: none;
        z-index: 1001;
        width: 70px;
    }

    .body-small .top-navigation {
        left: 0px;
    }

    .body-small .page-wrapper {
        margin-left: 0px;
    }

    .body-small .top-navigation .nav-header {
        display: block;
    }

    .body-small .top-navigation .nav-header i {
        margin-right: 15px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

}

.md-sidemenu .nav-label {
    color: @color_darkgray;
}

.md-sidemenu {
    color: @color_darkgray;
}

.md-sidemenu .md-button {
    background-color: @color_navyblue;
}

.md-sidemenu .active .md-button {
    border-left: 5px solid @color_teal;
    background-color: @color_darkblue;
}

.md-sidemenu .md-button:hover {
    background-color: @color_darkblue;
}

body.mini-navbar.fixed-sidebar .logo-element {
  display: none;
}

.logo-element {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: @color_white;
    display: none;
    padding: 18px 0;
}

body.mini-navbar .logo-element {
  display: block;
}

body.canvas-menu .logo-element {
  display: none;
}

body.canvas-menu.mini-navbar .navbar-default .nav li .profile-element a span {
  display: block;
}

body.mini-navbar .profile-element, body.mini-navbar .nav-label, body.mini-navbar .navbar-default .nav li a span {
  display: none;
}

body.canvas-menu .profile-element {
  display: block;
}