﻿md-card.green {
    color: @color_white;
    background-color: @color_green;
    min-height: 80px;
}

md-card.green .card-chart-img {
    background-color: @color_darkgreen;
    height: 100%;
    color: @color_white;
}

md-card.green md-card-footer {
    background-color: @color_darkgreen;
    color: @color_green;
}

@keyframes greencolors {
    0% { stroke: @color_darkgreen; }
    25% { stroke: @color_darkgreen; }
    50% { stroke: @color_darkgreen; }
    75% { stroke: @color_darkgreen; }
    100% { stroke: @color_darkgreen; }
}

md-card.green md-progress-circular path {
    animation: greencolors 1s ease-in-out infinite;
}

md-card.amber {
    color: @color_white;
    background-color: @color_amber;
    min-height: 80px;
}

md-card.amber .card-chart-img {
    background-color: @color_darkamber;
    height: 100%;
    color: @color_white;
}

md-card.amber md-card-footer {
    background-color: @color_darkamber;
    color: @color_amber;
}

@keyframes ambercolors {
    0% { stroke: @color_darkamber; }
    25% { stroke: @color_darkamber; }
    50% { stroke: @color_darkamber; }
    75% { stroke: @color_darkamber; }
    100% { stroke: @color_darkamber; }
}

md-card.amber md-progress-circular path {
    animation: ambercolors 1s ease-in-out infinite;
}

md-card.pink {
    color: @color_white;
    background-color: @color_lightpink;
    min-height: 80px;
}

md-card.pink .card-chart-img {
    background-color: @color_pink;
    height: 100%;
    color: @color_white;
}

md-card.pink md-card-footer {
    background-color: @color_pink;
    color: @color_lightpink;
}

@keyframes pinkcolors {
    0% { stroke: @color_pink; }
    25% { stroke: @color_pink; }
    50% { stroke: @color_pink; }
    75% { stroke: @color_pink; }
    100% { stroke: @color_pink; }
}

md-card.pink md-progress-circular path {
    animation: pinkcolors 1s ease-in-out infinite;
}

md-card.bluegrey {
    color: @color_white;
    background-color: @color_bluegrey;
    min-height: 80px;
}

md-card.bluegrey .card-chart-img {
    background-color: @color_darkbluegrey;
    height: 100%;
    color: @color_white;
}

md-card.bluegrey md-card-footer {
    background-color: @color_darkbluegrey;
    color: @color_bluegrey;
}

@keyframes bluegreycolors {
    0% { stroke: @color_darkbluegrey; }
    25% { stroke: @color_darkbluegrey; }
    50% { stroke: @color_darkbluegrey; }
    75% { stroke: @color_darkbluegrey; }
    100% { stroke: @color_darkbluegrey; }
}

md-card.bluegrey md-progress-circular path {
    animation: bluegreycolors 1s ease-in-out infinite;
}

md-card.purple {
    color: @color_white;
    background-color: @color_purple;
    min-height: 80px;
}

md-card.purple .card-chart-img {
    background-color: @color_darkpurple;
    height: 100%;
    color: @color_white;
}

md-card.purple md-card-footer {
    background-color: @color_darkpurple;
    color: @color_purple;
}

@keyframes purplecolors {
    0% { stroke: @color_darkpurple; }
    25% { stroke: @color_darkpurple; }
    50% { stroke: @color_darkpurple; }
    75% { stroke: @color_darkpurple; }
    100% { stroke: @color_darkpurple; }
}

md-card.purple md-progress-circular path {
    animation: purplecolors 1s ease-in-out infinite;
}

md-card.blueteal {
    color: @color_white;
    background-color: @color_blueteal;
    min-height: 80px;
}

md-card.blueteal .card-chart-img {
    background-color: @color_darkblueteal;
    height: 100%;
    color: @color_white;
}

md-card.blueteal md-card-footer {
    background-color: @color_darkblueteal;
    color: @color_blueteal;
}

@keyframes bluetealcolors {
    0% { stroke: @color_darkblueteal; }
    25% { stroke: @color_darkblueteal; }
    50% { stroke: @color_darkblueteal; }
    75% { stroke: @color_darkblueteal; }
    100% { stroke: @color_darkblueteal; }
}

md-card.blueteal md-progress-circular path {
    animation: bluetealcolors 1s ease-in-out infinite;
}

md-card .card-chart-img md-icon {
    color: @color_white;
    height: 36px;
    width: 36px;
    font-size: 36px;
}

md-card.chart-card h2 {
    margin: 0px;
}

md-card .card-chart-img {
    min-height: 80px;
}