body {
    height: 100%;
    background-color: @color_offwhite;
}

.main-content {
    padding: 15px;
}

.page-wrapper {
    height: 100%;
    width: 100%;
}

.page-wrapper md-content {
    background-color: @color_offwhite;
}

.dashboard-grid {
    background-color: #c6ecf1;
}

.grid-stack {
    width: 100%;
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #732145;
}

.login-header img {
    padding-top:30px;
    padding-bottom: 30px;
}

.login-header {
    background-color: @color_white;
}

.login-footer {
    background-image: url(../images/world_map.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 60px;
    min-height: 350px;
}

.login-form  md-input-container {
    margin-bottom: 0px;
}

.login-form .md-button.md-primary.md-raised {
    background-color: @color_teal;
    border-color: @color_teal;
    color: @color_white;
}

.login-form .md-button.md-primary.md-raised:not([disabled]):hover {
    background-color: @color_darkteal;
    border-color: @color_darkteal;
    color: @color_white;
}

.login-footer-container {
    border-top: 1px solid @color_teal;
    padding-top: 10px;
}

.middle-box {
    width: 300px;
}

.tenant-select-container {
    background-color: @color_teal;
    color: @color_white;
}

.odd {
    background-color: @color_gray2;
}