
md-toolbar.site-content-toolbar:not(.md-menu-toolbar) {
    background-color: @color_offwhite;
    color: @color_gray3;
    border-bottom: 1px solid @color_gray2;
}

md-toolbar.site-content-toolbar:not(.md-menu-toolbar) md-icon {
    color: @color_gray3;
}

/*md-toolbar.navbar-fixed-top {
    top: 0;
    margin-left: 290px;
    border-width: 0 0 1px;
    position: fixed;
    width: 100%;
}*/