<h1>SLX Log Summary</h1>
<hr />
<div layout-gt-sm="row" layout-padding>

    
</div>
<md-table-container>
    <table md-table md-progress="vm.promise">
        <thead md-head md-order="vm.query.order" md-on-reorder="vm.reOrder">
            <tr md-row>
                <th md-column md-order-by="Facility.County.Name"><span>County</span></th>
                <th md-column md-order-by="Facility.Name"><span>Facility</span></th>
                <th md-column md-order-by="Month"><span>Month</span></th>
                <th md-column md-order-by="Year"><span>Year</span></th>
                <th md-column md-order-by="Status"><span>Status</span></th>
                <th md-column><span></span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="record in vm.statRecords">
                <td md-cell>{{record.Facility.CountyName}}</td>
                <td md-cell>{{record.Facility.Name}}</td>
                <td md-cell>{{record.Month}}</td>
                <td md-cell>{{record.Year}}</td>
                <td md-cell>{{record.Status}}</td>
                <td md-cell>
                    <md-button class="md-raised md-primary" aria-label="Edit" ng-click="vm.edit(record.Id, true)">
                        <span ng-if="record.Status == 'In Progress'">Edit Full</span>
                        <span ng-if="record.Status == 'Submitted'">Open Full</span>
                    </md-button>
                    <md-button class="md-raised md-primary" aria-label="Edit" ng-click="vm.edit(record.Id)">
                        <span ng-if="record.Status == 'In Progress'">Edit Daily</span>
                        <span ng-if="record.Status == 'Submitted'">Open Daily</span>
                    </md-button>
                    <md-button class="md-raised md-primary" aria-label="Submit" ng-click="vm.submit(record.Id)" ng-if="record.Status != 'Submitted'">
                        Submit
                    </md-button>
                    <md-button class="md-fab md-primary" aria-label="Print" ng-if="record.Status == 'Submitted'" ng-click="vm.print(record)">
                        <md-icon>print</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="vm.query.limit"
                     md-limit-options="vm.limitOptions"
                     md-page="vm.query.page"
                     md-total="{{vm.totalCount}}"
                     md-on-paginate="vm.getStatRecordsPaginated"
                     md-boundary-links="false"
                     md-page-select="true">
</md-table-pagination>